.posts {
  margin-top: 2rem;

  > a {
    display: block;
  }

  a + a {
    margin-top: 3rem;
  }


.button {
  font-size: 1.125rem;
  font-weight: 600;
  background: none;
  border: none;
  margin-top: 4rem;
  color: var(--pink);
}
}

.post {
  strong {
    font-size: 1.75rem;
    font-weight: 700;
    color: var(--gray-100);
  }

  p {
    margin-top: 0.5rem;
    font-size: 1.125rem;
    font-weight: 400;
  }

  ul {
    list-style: none;
    margin-top: 1.5rem;
    display: flex;

    gap: 1.5rem;

    & li {
      font-size: 0.875rem;
      font-weight: 400;
      display: flex;
      gap: 0.5rem;
    }
  }
}

